{% extends "layout.html" %}
{% block content %}

<div id="cartItems">
	<h2>Your Cart</h2>

	{% if not cart %}

	<p>Your cart is currently empty.</p>
    <a href="{{ url_for('home') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">CONTINUE SHOPPING HERE</a>

	{% else %}
		<div style=" text-align: right;">Price</div>
		<div id="tableItems" >

			{% for item in cart %}

			<hr>
				<div id="itemName" style=" text-align: 	left;">
					<img src="/static/img/{{ item.img }}" class="card-img-top" alt="..." style="height: 80px; width:80px">
					<span id="itemNameTag">{{item.name}}</span>

					<span id="itemNameTag"><div style=" text-align: right">{{item.price}}</div></span>

                    <a href="/removeFromCart/{{item.id}}">Delete</a>

				</div>

			{% endfor %}

			<a href="{{ url_for('home') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="margin-top:40px">CONTINUE SHOPPING HERE</a>
			<hr>

		</div>
	{% endif %}
</div>
<!-- <a href="/checkout">Proceed to checkout</a> -->
{% endblock content %}